<%= simple_form_for @node, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Node</legend>

    <%= f.input :name %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', nodes_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
